/*************************
Properties
*************************/
.stats {
	display: none;
}
.stats-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stats-list-item {
	margin-right: 35px;
	width: 400px;
}
.stats .property-row {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-wrap: wrap;
    padding-top: 5px;
}
.stats .property-caption {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}
.stats .property-name {
	width: 130px;
    overflow: hidden;
  	white-space: initial;
  	text-overflow: hidden;
  	padding-right: 10px;
  	font-weight: bold;
}
.stats .property-value {
	width: 170px;
}
.stats-caption {
	margin: 20px auto;
	font-weight: bold;
	font-size: 110%;
	text-decoration: underline;
	cursor: pointer;
	color:#1f77b4;
}
.stats-caption:hover {
	background: #1f77b4;
	color: white;
}
/*************************
Global
*************************/

.wrapper-stats {
    max-width: 400px;
}
.wrapper-stats input {
	width: 90%;
}
.wrapper-stats button {
	width: 90%;
}
.wrapper-stats textarea {
	width: 90%;
}
stats .error {
	color: crimson;
}

.wrapper-stats input[type=radio] {
	width: 15px;
	margin-left: 0;
	margin-right: 10px;
}

.wrapper-stats fieldset {
	border: 0;
	padding: 0;
}
/*************************
Media Queries
*************************/
@media screen and (max-width: 800px) {
	.wrapper-stats {
		margin: auto;
	}
}
